<%- include('../layouts/userHeader.ejs') %>

    <br><br><br>
    

    <div class="login-register-area pt-20 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <a class="active" data-toggle="tab" href="">
                                <h4> RESET PASSWORD </h4>
                            </a> 
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <% if(typeof message !=='undefined' ){ %>
                                        
                                            <p style="color: red;">
                                                <%= message %>
                                            </p>
                                        
                                            <% } %>
                                        <form action="/get-otp" method="post" id="otpForm">
                                            <div style="width: 510px;">
                                                <label for="">Enter your Mobile No.</label>
                                                <input style="width: 400px; border: 1px solid grey;" type="number" name="mobileNo" placeholder="Enter Mobile No" id="mobileNo" >
                                                <button class="" style="height: 50px;width: 100px;border: none; background-color: rgb(24, 88, 207);color: white;" type="submit">Send OTP</button>
                                            </div>
                                        </form>
                                            
                                        <form action="/verify-otp" method="post" id="verifyOtpForm">
                                            <label for="">Enter the OTP</label>
                                            <div>
                                                <input style="width: 400px;border: 1px solid grey;" type="number" name="otp" placeholder="Enter OTP" id="otp">
                                                <input type="hidden" name="otpMobileNo" id="otpMobileNo">
                                                <button class="" style="height: 50px;width: 100px;border: none; background-color: rgb(24, 88, 207);color: white;"
                                                    type="submit">Verify OTP</button>
                                            </div>

                                        </form>

                                       <form method="post" action="/reset-password">
                                                <label for="">Enter New Password</label>
                                            <input style="border: 1px solid grey;" type="password" name="password" placeholder="Password" id="pw1" >
                                            <label for="">Confirm New Password</label>
                                            <input style="border: 1px solid grey;" type="password" name="confirmPassword" placeholder="Confirm Password" id="pw2" > <br>

                             
                                            <div class="button-box text-center">
                                                <button class="btn btn-danger" type="submit">Reset</button>
                                                <a class="btn btn-warning" href="/login" type="submit">Cancel</a>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const p1= document.getElementById("pw1")
        const p2 = document.getElementById("pw2")
       const mobileNoInput = document.getElementById("mobileNo");
        const otpMobileNoInput = document.getElementById("otpMobileNo");
        const verifyOtpButton = document.querySelector("#verifyOtpForm button");

        // Add event listener to the mobile number input field
        mobileNoInput.addEventListener("input", () => {
            otpMobileNoInput.value = mobileNoInput.value;

            // Enable the verify OTP button when the mobile number is entered
            if (mobileNoInput.value) {
                verifyOtpButton.disabled = false;
                p1.disabled=false
                p2.disabled=false            
              } else {
                verifyOtpButton.disabled = true;
            }
        });
        
    </script>

    
    <%- include('../layouts/userFooter.ejs') %>