<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Just Read</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/images/favicon.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <!-- All CSS is here
	============================================ -->
    <!--
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css">
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->

    <link rel="stylesheet" href="/assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/style.min.css" />
    <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/vendor/simple-line-icons.css" />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <script
      src="https://kit.fontawesome.com/0d1889ed61.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- JavaScript Bundle with Popper -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://www.paypal.com/sdk/js?client-id=AYvyImhfAzZHTVlLcaHFD7qciVDHaRQRQa2rbu1bwJ78m3xsIu32lkQk-PWxEXzTxZG8wpMg9-IlwgPn"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- CSS only -->

    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Add the SweetAlert CSS -->
    <link rel="stylesheet" href="path/to/sweetalert2.min.css" />

    <!-- Add the SweetAlert JavaScript -->
    <script src="path/to/sweetalert2.all.min.js"></script>
  </head>

  <body>
    <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->

    <div class="main-wrapper bg-gray-9">
      <header class="header-area transparent-bar section-padding-1">
        <div class="container-fluid">
          <div class="header-large-device">
            <div class="header-top header-top-ptb-1 border-bottom-1">
              <div class="row">
                <div class="col-xl-4 col-lg-5">
                  <div class="header-offer-wrap">
                    <p>
                      <i class="fa-solid fa-angel"></i> Welcome to Arundhathy's
                      JUST READ
                      <span></span>
                    </p>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                  <div class="header-top-right">
                    <div class="same-style-wrap">
                      <div class="same-style same-style-border track-order">
                        <a href="/wallet">WALLET</a>
                      </div>
                      <div class="same-style same-style-border track-order">
                        <a href="/profile">PROFILE</a>
                      </div>
                      <div class="same-style same-style-border language-wrap">
                        <a class="language-dropdown-active" href="#"
                          >English
                          <i class="fa-solid fa-circle-chevron-down"></i
                        ></a>
                        <div class="language-dropdown">
                          <ul>
                            <li><a href="#">English</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Spanish</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="same-style same-style-border currency-wrap">
                        <a class="currency-dropdown-active" href="#"
                          >INR ₹ <i class="fa-solid fa-circle-chevron-down"></i
                        ></a>
                        <div class="currency-dropdown">
                          <ul>
                            <li><a href="#">USD</a></li>
                            <li><a href="#">EUR</a></li>
                            <li><a href="#">Real</a></li>
                            <li><a href="#">BDT</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="social-style-1 social-style-1-mrg">
                      <a href="#"><i class="fa-brands fa-instagram"></i></a>
                      <a href="#"><i class="fa-brands fa-facebook"></i></a>
                      <a href="#"><i class="fa-brands fa-youtube"></i></a>
                      <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-bottom">
              <div class="row align-items-center">
                <div class="col-xl-2 col-lg-2">
                  <div class="">
                    <a href="/"
                      ><img
                        style="width: 165px; height: 30px"
                        src="/assets/images/logo/logo.png"
                        alt=""
                    /></a>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                  <div class="main-menu main-menu-padding-1 main-menu-lh-1">
                    <nav>
                      <ul>
                        <li><a href="/">HOME </a></li>
                        <li><a href="/products">BOOKS </a></li>
                        <li><a href="/view-wishlist">WISHLIST </a></li>
                        <li><a href="/view-cart">CART </a></li>
                        <li><a href="/view-orders">ORDERS </a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3">
                  <div
                    class="header-action header-action-flex header-action-mrg-right"
                  >
                    <div class="same-style-2 header-search-1">
                      <a class="search-toggle" href="#">
                        <i class="fa-solid fa-magnifying-glass s-open"></i>
                        <i class="icon_close s-close"></i>
                      </a>
                      <div class="search-wrap-1">
                        <form action="">
                          <input
                            placeholder="Search products…"
                            type="text"
                            name="search"
                          />
                          <button class="button-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </button>
                        </form>
                      </div>
                    </div>
                    <div class="same-style-2">
                      <a href="/logout"
                        ><i class="fa-solid fa-right-from-bracket"></i
                      ></a>
                    </div>
                    <div class="same-style-2">
                      <a href="/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                    <div class="same-style-2">
                      <a href="/view-wishlist"
                        ><i class="fa-solid fa-heart"></i
                        ><span
                          id="wishlistItemCount"
                          class="pro-count red"
                        ></span
                      ></a>
                    </div>
                    <div class="same-style-2 header-cart">
                      <a class="cart-active" href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span id="cartItemCount" class="pro-count red"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header-small-device small-device-ptb-1">
            <div class="row align-items-center">
              <div class="col-5">
                <div class="mobile-logo">
                  <a href="index.html">
                    <img alt="" src="assets/images/logo/logo.png" />
                  </a>
                </div>
              </div>
              <div class="col-7">
                <div class="header-action header-action-flex">
                  <div class="same-style-2">
                    <a href="login-register.html"><i class="icon-user"></i></a>
                  </div>
                  <div class="same-style-2">
                    <a href="wishlist.html"
                      ><i class="icon-heart"></i
                      ><span class="pro-count red">03</span></a
                    >
                  </div>
                  <div class="same-style-2 header-cart">
                    <a class="cart-active" href="#">
                      <i class="fa-solid fa-cart-shopping"></i>
                      <span id="cartItemCount" class="pro-count red">00</span>
                    </a>
                  </div>
                  <div class="same-style-2 main-menu-icon">
                    <a class="mobile-header-button-active" href="#"
                      ><i class="icon-menu"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <br /><br />
      <!-- mini cart start -->
      <div class="sidebar-cart-active">
        <div class="sidebar-cart-all">
          <a class="cart-close" href="#"><i class="icon_close"></i></a>
          <div class="cart-content">
            <h3>Shopping Cart</h3>
            <ul>
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="#"
                    ><img src="assets/images/cart/cart-1.jpg" alt=""
                  /></a>
                </div>
                <div class="cart-title">
                  <h4><a href="#">Simple Black T-Shirt</a></h4>
                  <span> 1 × $49.00 </span>
                </div>
                <div class="cart-delete">
                  <a href="#">×</a>
                </div>
              </li>
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="#"
                    ><img src="assets/images/cart/cart-2.jpg" alt=""
                  /></a>
                </div>
                <div class="cart-title">
                  <h4><a href="#">Norda Backpack</a></h4>
                  <span> 1 × $49.00 </span>
                </div>
                <div class="cart-delete">
                  <a href="#">×</a>
                </div>
              </li>
            </ul>
            <div class="cart-total">
              <h4>Subtotal: <span>$170.00</span></h4>
            </div>
            <div class="cart-checkout-btn">
              <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
              <a class="no-mrg btn-hover cart-btn-style" href="checkout.html"
                >checkout</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile menu start -->
    </div>
    <script>
      //  getCartCount endpoint
      $(document).ready(function () {
        $.ajax({
          type: "GET",
          url: "/get-cart-count", // Update with your actual endpoint URL
          dataType: "json",
          success: function (response) {
            console.log(response, "Count--");
            // Update the cart count in the HTML with the received response
            if (response.itemCount !== undefined) {
              $("#cartItemCount").text(response.itemCount);
            }
          },
          error: function (error) {
            console.error("Error fetching cart count:", error);
          },
        });
      });
    </script>

    <script>
      // Use JavaScript to make an AJAX request to the getWishlistCount endpoint
      $(document).ready(function () {
        $.ajax({
          type: "GET",
          url: "/get-wishlist-count", // Update with your actual endpoint URL
          dataType: "json",
          success: function (response) {
            // Update the cart count in the HTML with the received response
            if (response.itemCount !== undefined) {
              $("#wishlistItemCount").text(response.itemCount);
            }
          },
          error: function (error) {
            console.error("Error fetching cart count:", error);
          },
        });
      });
    </script>
  </body>
</html>
