<br><br>
<footer class="footer-area bg-gray pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact-info-wrap">
                    <br>
                    <div class="footer-logo">
                        <a href="#"><img src="/assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="single-contact-info">
                        <span>Our Location</span>
                        <p>869 General Village Apt. 645, Moorebury, USA</p>
                    </div>
                    <div class="single-contact-info">
                        <span>24/7 hotline:</span>
                        <p>(+99) 052 128 2399</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="footer-right-wrap">
                    <br>
                    <div class="footer-menu">
                        <nav>
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop.html">Product </a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="blog.html">Blog.</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="social-style-2 social-style-2-mrg">
                        <a href="#"><i class="social_twitter"></i></a>
                        <a href="#"><i class="social_facebook"></i></a>
                        <a href="#"><i class="social_googleplus"></i></a>
                        <a href="#"><i class="social_instagram"></i></a>
                        <a href="#"><i class="social_youtube"></i></a>
                    </div>
                    <div class="copyright">
                        <p>Copyright © 2020 HasThemes | <a href="https://hasthemes.com/">Built with <span>Norda</span>
                                by HasThemes</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>
<!-- All JS is here
============================================ -->
<!-- 
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="assets/js/plugins/jquery.instagramfeed.min.js"></script>
<script src="assets/js/plugins/jquery.nice-select.min.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
<script src="assets/js/plugins/jquery-ui.js"></script>
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/sticky-sidebar.js"></script>
<script src="assets/js/plugins/easyzoom.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script>  -->

<!-- Use the minified version files listed below for better performance and remove the files listed above  -->
<script src="https://kit.fontawesome.com/0d1889ed61.js" crossorigin="anonymous"></script>
<script src="/assets/js/vendor/vendor.min.js"></script>
<script src="/assets/js/plugins/plugins.min.js"></script>

<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<!-- <script>
        var divs = document.querySelectorAll('.create_index'); for (var i = 0; i < divs.length; ++i) { divs[i].innerHTML = i + 1; }
    </script> -->
<!-- Main JS -->
<script src="/assets/js/main.js"></script>
<script src="/js/cart.js"></script>
    <script src="/assets/js/formValidation.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





</body>

</html>