<%- include('../layouts/header.ejs') %>

<h1>Login</h1>


<form action="/login">
    <input type="email" name="email" placeholder="Enter email">
    <br><br>
    <input type="passsword" name="passsword" placeholder="Enter password">
    <br><br>
    <input type="submit" value="Login">
    <br><br>


</form>

<%- include('../layouts/footer.ejs')%>